PORT=4004
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/preference_db?schema=public"
JWT_SECRET="your-256-bit-jwt-access-secret"
REDIS_URL="redis://localhost:6379"
INTERNAL_SERVICE_KEY="your-internal-microservice-secret-key"

# Internal Microservice Routing
LISTING_SERVICE_URL="http://localhost:4003"
IDENTITY_SERVICE_URL="http://localhost:4001"
