PORT=4000
JWT_SECRET="your-256-bit-jwt-access-secret"
INTERNAL_SERVICE_KEY="your-internal-microservice-secret-key"
CLIENT_URL="http://localhost:5173"

# Microservice Target URLs
IDENTITY_SERVICE_URL="http://localhost:4001"
FINANCE_SERVICE_URL="http://localhost:4002"
LISTING_SERVICE_URL="http://localhost:4003"
PREFERENCE_SERVICE_URL="http://localhost:4004"
DISCOVERY_SERVICE_URL="http://localhost:4005"
ENGAGEMENT_SERVICE_URL="http://localhost:4006"
ANALYTICS_SERVICE_URL="http://localhost:4007"
