PORT=4000
JWT_SECRET="gharsetu-super-secret-jwt-access-key-2026"

# Microservice Target URLs
IDENTITY_SERVICE_URL="http://localhost:4001"
LISTING_SERVICE_URL="http://localhost:4002"
PREFERENCE_SERVICE_URL="http://localhost:4003"
DISCOVERY_SERVICE_URL="http://localhost:4004"
ENGAGEMENT_SERVICE_URL="http://localhost:4005"
ANALYTICS_SERVICE_URL="http://localhost:4006"
FINANCE_SERVICE_URL="http://localhost:4007"
