PORT=4004
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/discovery_db?schema=public"
JWT_SECRET="gharsetu-super-secret-jwt-access-key-2026"
REDIS_URL="redis://localhost:6379"

# Internal Microservice Routing
LISTING_SERVICE_URL="http://localhost:4002"
IDENTITY_SERVICE_URL="http://localhost:4001"
