PORT=4005
DATABASE_URL="postgresql://postgres:8989@localhost:5432/engagement_db?schema=public"
JWT_SECRET="gharsetu-super-secret-jwt-access-key-2026"
REDIS_URL="redis://localhost:6379"

# Internal Microservice URLs
LISTING_SERVICE_URL="http://localhost:4002"
IDENTITY_SERVICE_URL="http://localhost:4001"

# SMTP Email Configuration (Identical to identity-service)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="xten41602@gmail.com"
SMTP_PASS="xwaukvadnaeccunp"
SMTP_FROM='"GharSetu Platform" <xten41602@gmail.com>'
