PORT=4002
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finance_db?schema=public"
JWT_SECRET="your-256-bit-jwt-access-secret"
INTERNAL_SERVICE_KEY="your-internal-microservice-secret-key"
