PORT=4007
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/analytics_db?schema=public"
JWT_SECRET="your-256-bit-jwt-access-secret"
REDIS_URL="redis://localhost:6379"
INTERNAL_SERVICE_KEY="your-internal-microservice-secret-key"

# Microservice Endpoints
IDENTITY_SERVICE_URL="http://localhost:4001"
LISTING_SERVICE_URL="http://localhost:4003"
ENGAGEMENT_SERVICE_URL="http://localhost:4006"
