PORT=4006
DATABASE_URL="postgresql://postgres:8989@localhost:5432/analytics_db?schema=public"
JWT_SECRET="gharsetu-super-secret-jwt-access-key-2026"
REDIS_URL="redis://localhost:6379"

# Microservice Endpoints
IDENTITY_SERVICE_URL="http://localhost:4001"
LISTING_SERVICE_URL="http://localhost:4002"
ENGAGEMENT_SERVICE_URL="http://localhost:4005"
